:root{
    --primary-dark-blue: #213F7D;
    --primary-darker-blue: #545F7D;
    --primary-light-blue: #39CDCC;
    --primary-white: #FFFFFF;
    --dark-blue-with-opacity: rgba(33, 63, 125, 0.2);
    --primary-dark-red: #E4033B;
    --primary-light-green: #39CD62;
    --primary-dark-yellow: #E9B200;
}